<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Customer</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Login</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr>
                <td th:text="${customer.login}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.surname}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.email}"></td>
            </tr>
        </table>
        <a class="btn btn-light" th:href="@{/customers}">Show all customers</a>
    </div>
</body>
</html>