<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Zajavka Car Dealer</title>
</head>

<body>
    <div class="container">
        <br>
        <a class="btn btn-success btn-lg" th:href="@{/streets}">Streets list</a>
        <a class="btn btn-primary btn-lg" th:href="@{/restaurants}">Restaurants list</a>
        <a class="btn btn-info btn-lg" th:href="@{/customers}">Customers list</a>
        <a class="btn btn-info btn-lg" th:href="@{/orders}">Orders list</a>
        <a class="btn btn-warning btn-lg" th:href="@{/}">Back to home</a>
        <br>
        <h1>Order Placed!</h1>

    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
            </div>
        </div>

        <br>
        <br>

    </div>
</body>
</html>