<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style type=text/css>
        h2 {
            background-color: DeepSkyBlue;
            margin: 10px;
        }
        div {
            color: white;
            background-color: grey;
            margin: 2px;
            font-size: 25px;
        }
        body {
            background-color: Azure;
            text-align: center;
        }
</style>

<body>

<div class="container">
    <div class="page-header" id="banner">

        <br>
        <a class="btn btn-success btn-lg" th:href="@{/streets}">Streets list</a>
        <a class="btn btn-primary btn-lg" th:href="@{/restaurants}">Restaurants list</a>
        <a class="btn btn-info btn-lg" th:href="@{/customers}">Customers list</a>
        <a class="btn btn-info btn-lg" th:href="@{/orders}">Orders list</a>
        <a class="btn btn-warning btn-lg" th:href="@{/}">Back to home</a>
        <br>
        <h2>Orders: </h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Order Number</th>
                <th>Recieved:</th>
                <th>Completed:</th>
                <th>Total cost:</th>


                <th></th>
                <th></th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderNumber}"></td>
                <td th:text="${order.receivedDateTime}"></td>
                <td th:text="${order.completedDateTime}"></td>
                <td th:text="${order.totalValue}"></td>
                <td>
<!--                    <form action="#" th:action="@{customer/show/{login}(login=${customer.login})}" method="GET">-->
<!--                        <button type="submit" class="btn btn-info">Show</button>-->
<!--                    </form>-->
                </td>
            </tr>
        </table>
</div>

    <h2>Add new order</h2>
    <form action="#" th:action="@{/order/add}" th:method="POST" th:object="${orderDataDTO}">
        <div class="form-group">
            Customer name: <input type="text" th:field="*{name}"/><br>
            Customer surname: <input type="text" th:field="*{surname}"/><br>
            Customer phone: <input type="text" th:field="*{phone}"/><br>
            Customer email: <input type="text" th:field="*{email}"/><br>
            Customer login: <input type="text" th:field="*{login}"/><br>

            Address country: <input type="text" th:field="*{country}"/><br>
            Address city: <input type="text" th:field="*{city}"/><br>
            Address street: <input type="text" th:field="*{street}"/><br>
            Address build no.: <input type="text" th:field="*{buildingNumber}"/><br>


        </div>

        <div class="form-group">
            <input type="submit" value="Place order" name="button"/>
        </div>
    </form>
    <hr/>

</div>


</body>
</html>